<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>


    <div class = "container">
      <h1>
        George Salafatinos
      </h1>
      <h3 class = "homepage"> Math Vizualizations: </h3>
      <button onclick="window.location.href='/wave-touch'">
        Wave Touch
      </button>
      <button onclick="window.location.href='/balls-in-a-spaceship'">
        Balls In A Spaceship
      </button>
      <h3 class = "homepage">About Me</h3>
      <button onclick="window.location.href='/wave-touch'">
        Resume
      </button>
      <!-- <h3 class = "homepage">Other Projects</h3> -->
      <!-- <button onclick="location.href='http://google.com'">
        [Links to github pages or anythign else]
      </button> -->
    </div>
    <canvas class="webgl" style = "position:relative";></canvas>
    <script src="/wave-touch.js" type="module"></script>

  </body>
</html>
